<h3>ジャンル検索欄</h3>
  <table class = "table table-hover table-inverse">
    <tbody>
      <tr class="genre-box">
        <% @genre.shops.each do |genre| %>
        <td>
          <%= link_to genre_path(genre) do %>
            <%= genre.name %><br>
          <% end %>
        </td>
        <% end %>
      </tr>
    </tbody>
  </table>