<h1>検索結果表示ページ</h1>
<!--#店名で検索して、なければ駅名でヒットさせたい-->
<table class="table table-hover table-inverse">
 <% if @records == "店名" %>
    <tbody>
      <% @shops.each do |shop| %>
        <tr>
          <td><%= shop.name %></td>
        </tr>
      <% end %>
    </tbody>
  <% else %>
    <tbody>
        <tr>
          <td><%= shop.access %></td>
          <!--<td><%#= shop.title %></td>-->
          <!--<td><%#= shop.body %></td>-->
        </tr>
    </tbody>
  <% end %>
</table>