<!--<h1>Books search for "test"</h1>-->
<!--<table class="table table-hover table-inverse">-->
<!-- <%# if @range == "EndUser" %>-->
<!--    <tbody>-->
<!--      <%# @end_users.each do |user| %>-->
<!--        <tr>-->
<!--          <td><%#= user.name %></td>-->
<!--        </tr>-->
<!--      <%# end %>-->
<!--    </tbody>-->
<!--  <%# else %>-->
<!--    <tbody>-->
<!--      <%# @shops.each do |shop| %>-->
<!--        <tr>-->
<!--          <td><%#= shop.title %></td>-->
<!--          <td><%#= shop.body %></td>-->
<!--        </tr>-->
<!--      <%# end %>-->
<!--    </tbody>-->
<!--  <%# end %>-->
<!--</table>-->