<div class="container">
  <div class="row">
    <div class='col-md-8 offset-md-1'>
       <h1>CafeConcierge 管理者TOPページ</h1>
        <!--<div class="btn-wrapper col-10 mx-auto">-->
          <table class = "table table-hover table-inverse">
            <tbody>
              <tr>
              <td><%= link_to "会員一覧", admin_end_users_path %></td>
              <td><%= link_to "投稿一覧", admin_shops_path %></td>
              <td><%= link_to "ジャンル一覧", admin_genres_path %></td>
              <!--#↑ジャンル一覧に飛ばす-->
              </tr>
            </tbody>
          </table>
    </div>
  </div>
</div>