<!--#ユーザーがログイン後にページの左側に表示-->
<div class='container'>
  <div class='row'>
    <div class='col-md-4'>
    <h3>ジャンル検索欄</h3>
      <table class = "table table-hover table-inverse">
        <tbody>
          <%= f.collection_select :genre, Genre.all, :id, :name %>
        </tbody>
      </table>
  </div>
</div>