<td><% if @shop.favorited_by?(current_end_user) %>
    <p>
      <%= link_to shop_favorites_path(@shop.end_user), method: :delete, local :false class: "favorite_btn" do %>
        ♥<%= @shop.favorites.count %> いいね
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to shop_favorites_path(@shop.end_user), method: :post, local: false, class: "favorite_btn" do %>
        ♡<%= @shop.favorites.count %> いいね
      <% end %>
    </p>
  <% end %>
</td>
