<% if end_user_signed_in? %>
  <% if @shop.favorited_by?(current_end_user) %>
    <p>
      <%= link_to public_shop_favorites_path(@shop), method: :delete, remote: true, class: "favorite_btn" do %>
        ♥<%= @shop.favorites.count %> いいね
      <% end %>
    </p>
  <% else %>
    <p>
      <%= link_to public_shop_favorites_path(@shop), method: :post, remote: true, class: "favorite_btn" do %>
        ♡<%= @shop.favorites.count %> いいね
      <% end %>
    </p>
  <% end %>
<% end %>