<div class='container'>
  <div class='row'>
    <div class='col-md-3'></div>
        <p id= "notice"></p>
        <div class>
          <h1>About This Site</h1>
          <table class = "table table-hover table-inverse">
            <tbody>
              <tr>
                <td>このサイトは、コロナ禍において婚活をしている方に、会話可能でフォーマルなカフェ情報を共有することを目的としています。</br>
                駅名・店名の検索機能もあり、自分の求めるカフェを知りたい方の力になれれば幸いです。
                </td>
              </tr>
            </tbody>
          </table>
        </div>
  </div>
</div>