<div class="btn-wrapper col-10 mx-auto">
  <div class="row">
   <%= link_to "ゲストログイン（閲覧用）", end_users_guest_sign_in_path, class: "btn btn-secondary btn-sm btn-block mb-3 sign_in", method: :post %>
  </div>
  <h1>ようこそ、『Cafe Concierge」へ！</h1>
  <p>こちらは婚活向けカフェ紹介サイトです。<br/>
  会員以外の方は投稿、いいね、コメントはできません。</p>
</div>

